url.resolve() breaks file URLs without host

As per RFC 1738 section 3.10 FILES, "as a special case, <host> can be [...] the empty string; this is interpreted as `the machine from which the URL is being interpreted'".

However, url.resolve('', 'file:///etc/hosts') strips a slash and resolves to file://etc/hosts, breaking the original URL ("etc" being now the host instead of the implied "localhost").
